header {
  height: 3rem;
  width: 100%;
  background-color: #F3E8F0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  line-height: 3rem;
  color: #7451EB; }
  header p {
    color: #7451EB; }
  header a {
    color: #7451EB;
    font-size: 1.5rem; }
  header .logo {
    margin-left: 1rem; }
    header .logo img {
      margin-top: 1rem;
      width: 140px;
      height: 50px; }
  header .panier {
    margin-right: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    background-image: url("../images/shoppingCart.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    line-height: normal; }
    header .panier .test {
      color: white;
      font-size: 1rem;
      width: 1rem;
      height: 1.2rem;
      margin-left: 0.7rem;
      text-align: center;
      border-radius: 100%;
      background-color: purple;
      margin-top: 0.7rem;
      transform: scale(1);
      transition: transform 500ms; }
      header .panier .test a {
        color: white;
        text-decoration: none;
        font-size: 1rem; }
      header .panier .test:hover {
        transform: scale(1.5); }

#monPanier {
  height: 0;
  width: 20%;
  background-color: #F3E8F0;
  position: absolute;
  right: 0;
  transition: 500ms; }
  #monPanier #contenuPanier {
    display: none; }
  #monPanier #fermerPanier {
    display: none; }
  #monPanier #voirMonpanier {
    display: none; }

#produit {
  width: 100%;
  height: 500px;
  display: flex;
  padding: 1rem; }
  #produit .imageProduit {
    margin: auto;
    flex: 1; }
  #produit .descriptionProduit {
    margin-top: 3rem;
    flex: 2; }
    #produit .descriptionProduit h2 {
      font-size: 3rem; }
    #produit .descriptionProduit p {
      font-size: 2rem;
      margin-top: 1rem; }
    #produit .descriptionProduit a {
      display: block;
      width: 30rem;
      height: 3rem;
      line-height: 3rem;
      font-size: 2.5rem;
      text-align: center;
      background-color: grey;
      border-radius: 5px;
      text-decoration: none;
      color: white;
      transition: background-color 1s; }
      #produit .descriptionProduit a:hover {
        background-color: black; }
  #produit img {
    width: 700px;
    height: 500px; }
  #produit .descriptionProduit {
    margin-left: 1rem; }
  #produit select {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 2rem; }

#confirmation {
  display: none;
  width: 60%;
  height: 100px;
  margin: auto;
  text-align: center; }

.conteneur {
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 60%;
  justify-content: center; }
  .conteneur .formulaireCommande {
    width: 50%;
    background-color: #DBC5CA;
    text-align: center;
    padding: 1rem; }
    .conteneur .formulaireCommande input {
      width: 20rem;
      margin-top: 1rem;
      height: 2.5rem;
      font-size: 2rem; }
  .conteneur #panier {
    width: 50%;
    background-color: #F9E3E0;
    text-align: center;
    padding: 1rem; }
    .conteneur #panier .contenuPanier {
      margin-top: 1rem;
      text-align: left;
      display: flex;
      flex-direction: row; }
      .conteneur #panier .contenuPanier img {
        width: 50px;
        height: 40px; }
      .conteneur #panier .contenuPanier p {
        margin-top: 0.7rem;
        margin-left: 1rem; }

* {
  margin: 0;
  padding: 0; }

body {
  background-color: white; }

#container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%; }

#content {
  width: 100%; }

.produit1 {
  width: 100%;
  height: 500px;
  display: flex;
  background-color: #DBC5CA;
  flex-direction: row; }
  .produit1 .imageProduit {
    margin: auto;
    flex: 1; }
  .produit1 .descriptionProduit {
    margin-top: 3rem;
    flex: 2; }
    .produit1 .descriptionProduit h2 {
      font-size: 3rem; }
    .produit1 .descriptionProduit p {
      font-size: 2rem;
      margin-top: 1rem; }
    .produit1 .descriptionProduit a {
      display: block;
      width: 30rem;
      height: 3rem;
      line-height: 3rem;
      font-size: 2.5rem;
      text-align: center;
      background-color: grey;
      border-radius: 5px;
      text-decoration: none;
      color: white;
      transition: background-color 1s; }
      .produit1 .descriptionProduit a:hover {
        background-color: black; }
  .produit1 .imageProduit {
    padding-left: 1rem;
    flex: 1; }

.produit2 {
  width: 100%;
  height: 500px;
  display: flex;
  background-color: #F9E3E0;
  flex-direction: row-reverse;
  justify-content: center; }
  .produit2 .imageProduit {
    margin: auto;
    flex: 1; }
  .produit2 .descriptionProduit {
    margin-top: 3rem;
    flex: 2; }
    .produit2 .descriptionProduit h2 {
      font-size: 3rem; }
    .produit2 .descriptionProduit p {
      font-size: 2rem;
      margin-top: 1rem; }
    .produit2 .descriptionProduit a {
      display: block;
      width: 30rem;
      height: 3rem;
      line-height: 3rem;
      font-size: 2.5rem;
      text-align: center;
      background-color: grey;
      border-radius: 5px;
      text-decoration: none;
      color: white;
      transition: background-color 1s; }
      .produit2 .descriptionProduit a:hover {
        background-color: black; }
  .produit2 .imageProduit {
    text-align: right;
    margin-right: 1rem; }
  .produit2 .descriptionProduit {
    text-align: right; }
    .produit2 .descriptionProduit a {
      margin-left: auto; }

/*# sourceMappingURL=default.css.map */
