#monPanier {
  height: 0;
  width: 20%;
  background-color: $bckColorHeader;
  position: absolute;
  right:0;
  transition: 500ms;
  #contenuPanier
  {
    display:none;
  }
  #fermerPanier {
    display:none;
  }
  #voirMonpanier {
    display:none;
  }
}
